.groups {
    width: 20%;
    font-family: bold;
    background-color:burlywood;
    color: white;
    margin: 20px;
    padding: 20px;
    border: 2px salmon;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative;


}
.formgr {

    align-items:center;
    border: 2px rebeccapurple;
    justify-content:space-between;
    position:relative;

}
.groups :hover{
    background:salmon;
}
.regForm {
    display:flex;
    font-family: bold;
    font-size: 18px;
    align-items:center;
    justify-content:space-between;
    padding:20px 80px;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}
.groupInner{
    display:flex;
    width: 25%;
    color: white;
    position: absolute;
    font-family: bold;
    font-size: 18px;
    align-items:stretch;
    justify-content:space-between;
    padding:20px 80px;
    background:salmon;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}
.listgroup{
    list-style-position: outside;
 }
.form__button:hover{
    background:salmon;

}
.form__button {
    width: 20%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    background: darksalmon;
}
.listBox{
    width: 20%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    background: darksalmon;
}
#fname{

    display: block;
    width: 20%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}
#lname{

    display: block;
    width: 20%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}
body{
    width:100%
}

#header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 80px;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

#navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;

}
#navbar li{
    list-style:none;
    padding:0 20px;
    position:relative;

}
#navbar li a {
    text-decoration: none;
    font-size:16px;
    color:#1a1a1a;
    transition:0.3s ease;

}
#navbar li a:hovr,
#navbar li a:active{
    color:salmon;

}

#navbar li a.active::after,
#navbar li a:hover::after{
    content:'';
    width:30%;
    height:2px;
    background:salmon;
    position:absolute;
    bottom:-4px;
    left:20px;
}


