body{
    width:100%
}

#header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 80px;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

#navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;

}
#navbar li{
    list-style:none;
    padding:0 20px;
    position:relative;

}
#navbar li a {
    text-decoration: none;
    font-size:16px;
    color:#1a1a1a;
    transition:0.3s ease;

}
#navbar li a:hovr,
#navbar li a:active{
    color:salmon;

}

#navbar li a.active::after,
#navbar li a:hover::after{
    content:'';
    width:30%;
    height:2px;
    background:salmon;
    position:absolute;
    bottom:-4px;
    left:20px;
}
#groupDetails{
    display: flex;
    margin-top: 20px;

}
#groupDetails .singleImg{
    width: 25%;
    margin-right: 50px;
    border-radius: 4px;
    border-color: salmon;
    border-color: rebeccapurple;
}
.memberImgGroup{
    display: flex;
    justify-content: space-between;
}
.memberImgCol{
    flex-basis: 24%;
    cursor: pointer;
}
#groupDetails .sinleProDetails{
    width: 50%;
    padding-top: 30px;
}
#groupDetails .sinleProDetails h4{
    padding: 20px 0 40px 0;
}
#groupDetails .sinleProDetails h2{
font-size: 26px}
#groupDetails .sinleProDetails select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#groupDetails .sinleProDetails input{
    width: 25px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#groupDetails .sinleProDetails button{
    background-color: salmon;
    color: white;
    border-color: white;

  }
#groupDetails .sinleProDetails span{
    line-height: 25px;
}

